@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
body {
   font-family: 'League Spartan' , sans-serif;
   font-size: 15px;
   background-image: url(../social-proof-section-master/images/bg-pattern-top-desktop.svg) , url(../social-proof-section-master/images/bg-pattern-bottom-desktop.svg);
   background-size: cover;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --main-color: #521f53;
}
.container {
   padding: 6rem;
   margin: auto 2rem;
}
.container .text {
    max-width: 100%;
}
.container .text h1 {
    font-weight: 800;
    font-size: 58px;
    color: var(--main-color);
    width: 511px;
}
.container .text p {
    margin-top: 20px;
    line-height: 1.5;
    width: 400px;
    color: var(--main-color);
}
.container .group-1 {
    display: flex;
    justify-content: space-between;
}
.group-1 .rates {
    display: grid;
    grid-template-rows: repeat(auto-fill , minmax(50px, 1fr));
    grid-gap: 10px;
    height: 100px;
    max-width: 100%;
}
.rates .one, 
.rates .two, 
.rates .three{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f7f2f8;
    padding: 15px;
    width: 450px;
    border-radius: 8px;
    color: var(--main-color);
}
.rates .one,
.rates .three{
    position: relative;
}
.rates .one {
    right: 50px;
}
.rates .three {
    right: -50px;
}
.rates .icons {
    margin: 0 5px;
}
.container .group-2 .buyers {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 25px;
    margin-top: 100px;
}
.buyers .box-1,
.buyers .box-2,
.buyers .box-3 {
    background-color: var(--main-color);
    padding: 40px;
    border-radius: 9px;
}
.buyers .box-1 {
    position: relative;
    bottom: 20px;
}
.buyers .box-3 {
    position: relative;
    top: 20px;
}
.buyers .head {
    display: flex;
    justify-content: space-between;
    width: 170px;
    height: 40px;
    margin-bottom: 30px;    
}
.buyers .head img {
    border-radius: 50%;
    width: 40px;
}
.buyers .head .info h3 {
    color: #fff;
    margin-bottom: 5px;
    font-weight: 300;
}
.buyers .head .info h3:last-of-type {
    color: #ce71aa;
}
.buyers .descrep p {
    color: white;
    line-height: 1.5;
}
@media (max-width: 767px) {
    .container {
        padding: 15px 0;
        margin: 50px;
        max-width: 100%;
    }
    .group-1 {
        flex-direction: column;
    }
    .group-1 .text {
        text-align: center;
    }
    .group-1 .text h1 {
        font-size: 50px;
        width: 426px;
    }
    .group-1 .text p {
        font-size: 21px;
        width: 426px;
        text-align: center;
    }
    .group-1 .rates {
        margin-top: 50px;
        height: 228px;
        text-align: center;
    }
    .group-1 .rates .one,
    .group-1 .rates .three {
        position: relative;
        right: 0;
    }
    .group-1 .rates .one,
    .group-1 .rates .two,
    .group-1 .rates .three {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 325px;
        padding: 15px;
        margin: 0 auto;
    }
}